html, body ,#app {
  height: 100%;
  min-width: 1125px;
}
.el-cascader-menu { 
  height: 190px; 
}
.el-cascader-panel .el-cascader-menu__wrap {
  height: 204px;
  /* overflow-x: hidden; */
}
.ql-editor {
  height: 300px !important;
}

